.iconButton {
    width: 40%;
    min-width: 100px;
    height: 40px;
    min-width: 120px;
    background-color: transparent;
    display: block;
    position: relative;
    border: none;
    /* border: 1px solid rgba(128, 128, 128, 0.3); */
    font-weight: 500;
    border-radius: 30px;
    margin: 5px auto;
    cursor: pointer;
    transition: background-color .3s ease;
    background-color: #FEC845;
}

.iconButton:hover {
    background-color: #BF0621;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    color: white;
}

.iconButton:hover .icon {
    color: white;
}

.icon {
    position: absolute;
    left: 12px;
    color: black;
}

@media screen and (max-width: 768px) {
    .iconButton {
        width: 100px;
    }
}