.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    width: 70%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    position: relative;
    overflow: auto;
    max-height: 600px;
  }
  
  .modal-close-button {
    float: right;
    border: none;
    background: none;
    font-size: 20px;
    cursor: pointer;
  }
  
  .modal-header, .modal-body, .modal-footer {
    margin-bottom: 10px;
  }
  
  .modal-img img {
    width: 300px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  .modal-content-left {
    float: left;
    /* background-color: red; */
    width: 60%;
    margin-right: 5%;
    text-align: justify;
  }

.modal-content-right {
  float: right;
  /* background-color: rebeccapurple; */
  width: 35%;
}

.text-center {
  text-align: center;
}

.author {
  text-decoration: underline;
}